version: "3"
services:
  strapi:
    container_name: strapi
    #image: linoproject/mystrapi:1.1
    build:
      context: ./app
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: .env
    environment:
      JWT_SECRET: ${JWT_SECRET}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      NODE_ENV: ${NODE_ENV}
    volumes:
      - ./.tmp/:/opt/app/.tmp
      - ./src/api/:/opt/app/src/api
      - ./media/upload/:/opt/app/media/upload/
    ports:
      - "1337:1337"
    networks:
      - strapi
    

networks:
  strapi:
    name: Strapi
    driver: bridge
